@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.banner-container {
    background-color: lightblue;
    padding: 15px 30px;
}

.banner-title {
    font-size: 2em;
    font-weight: 600;
}

.banner-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.links-container {
    display: flex;
}

.nav-links {
    padding-right: 25px;
    padding-left: 25px;
}