@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.nav-title {
    font-size: 1.5em;
    font-weight: 700;
}

.nav-container {
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-container li {
    padding: 0 20px;

}

.nav-container li a {
    text-decoration: none;
    color:navy;
}

.nav-container li a:hover {
    text-decoration: underline;
}

.body {
    padding: 25px 35px;
}